/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body#bg {
  background-color:  #222f3e;
  text-align: center;
  align-content: center;
  margin: 10px auto;
  font-family: "Anonymous Pro";
}
#fot-s {
  font-family: 'Viga'; 
  font-size: 12px; 
  letter-spacing: 2px; 
  text-transform: uppercase;
  margin-top: 50px;
}
#con {
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: -8px;
}
#fakyu {
  background-color: #009774;
  color: white;
  font-family: "Viga";
}
.btn-col { 
  width: auto;
  background-color: #009774;
  font-family: "Anonymous Pro";
  color:rgb(255, 255, 255);
  margin: 5px auto;
  box-shadow: 0px 0px 6px 0px #006c52;
  white-space: wrap;
}
#memew {
  margin: auto;
  padding: 10px ;
  text-align: center;
}
#image-1 {
  box-shadow: 0px 0px 10px 0px #006c52;
  border: 0.5px solid #006B5D;
  margin: 20px;
  height: 100px;
  border-radius: 15px;
  width: auto;
}
#teks {
  font-family: "Viga";
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 2px;
}
#anjim {
  color:  rgb(255, 255, 255);
  background-color: rgb(19, 18, 18);
  margin: auto;
  width: fit-content ;
  font-family: Viga;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0px 0px 6px 0px #181818;
}
.col {
  font-family: viga;
}
#col-1 {
  font-family: viga;
  color: white;
  border-radius: 5px;
}
#asu  {
  border-radius: 5px;
  font-size: 16px;
  background-color:rgb(37, 36, 36);
  color: rgb(255, 255, 255);
  font-family: "Ubuntu";
  margin: 15px auto;
  padding: 12.5px;
  margin-top: 0;
  width: 160px;
  height: 50px;
  white-space: nowrap;
  text-align: center;
}
#fak {
  margin-bottom: 3px;
  text-transform: capitalize;
}
#faks {
  font-family: Ubuntu;
  text-transform: capitalize;
  color: white;
  font-size: 12px;
}
#asu-1 {
  box-shadow: 0px 0px 6px 0px #006c52;
  font-size: 12px;
  border-radius: 5px;
  background-color: #202324;
  color: white;
  font-family: "Anonymous Pro";
  margin: 0 auto;
  padding: 10px ;
  width: 150px;
  white-space: nowrap;
  margin-right: auto;
  text-align: center;
  align-content: center;
}

  
  